<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>board</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <h2>게시글 상세 화면</h2>
    <table class="board_detail">
        <colgroup>
            <col width="15%"/>
            <col width="35%"/>
            <col width="15%"/>
            <col width="35%"/>
        </colgroup>
        <caption>게시글 상세내용</caption>
        <tbody>
        <tr>
            <th scope="row">글 번호</th>
            <td th:text="${post.id}"></td>
        </tr>
        <tr>
            <th scope="row">작성자</th>
            <td th:text="${post.userId}"></td>
            <th scope="row">작성일</th>
            <td th:text="${#temporals.format(post.updatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        <tr>
            <th scope="row">제목</th>
            <td colspan="3" th:text="${post.title}"></td>
        </tr>
        <tr>
            <th scope="row">내용</th>
            <td th:text="${post.contents}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <button><a th:href="@{/update(id=${post.id})}">수정</a></button>
    <button><a th:href="@{/delete(id=${post.id})}">삭제</a></button>
    <button><a th:href="@{/list(page=${page})}">목록</a></button>


</div>
</body>
</html>