<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
    <title>board</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"></link>
</head>
<body>
<div class="container">
    <h2>게시글 목록</h2>
    <table class="board_list">
        <colgroup>
            <col width="15%"/>
            <col width="*"/>
            <col width="*"/>
            <col width="25%"/>
        </colgroup>
        <thead>
        <tr>
            <th scope="col">글번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.size(list)} > 0" th:each="list : ${list}">
            <td th:text="${list.id}"></td>
            <td> <a th:text="${list.title}" th:href="@{/detail(id=${list.id},page=${page})}"></a></td>
            <td th:text="${list.userId}"></td>
            <td th:text="${list.updatedTime}"></td>
        </tr>
        <a href="/post_ins" class="btn">글 쓰기</a>
    </table>
</div>
<div id="pagination">
    <!-- 맨 처음 페이지로 이동하는 버튼 -->
    <span th:if="${pageDto.startPage > 1}">
        <a th:href="@{'/list?page=1'}" th:text="'처음&emsp;'"></a>
    </span>

    <!-- 이전 블록으로 이동하는 버튼 -->
    <span th:if="${pageDto.isPrev == true}">
    	<a th:href="@{'/list?page='+${pageDto.startPage - 1}}" th:text="'이전'"></a>
    </span>

    <!-- 시퀀스 보여주는 값을 변경. -->
    <span th:each="pageNum : ${#numbers.sequence(pageDto.startPage, pageDto.endPage)}">
        <a class="div2" th:href="@{'/list?page='+${pageNum}}" th:text="|&emsp;${pageNum}&emsp;|"></a>
    </span>

    <!-- 다음 블록으로 이동하는 버튼 -->
    <span th:if="${pageDto.isNext == true}">
	<a th:href="@{'/list?page='+|${pageDto.endPage + 1}|}" th:text="'다음'"></a>
    </span>

    <!-- 맨 뒷 페이지로 이동하는 버튼 -->
    <span th:if="${pageDto.endPage < pageDto.totalPageCount}">
	<a th:href="@{'/list?page='+${pageDto.totalPageCount}}" th:text="|&emsp;끝|"></a>
    </span>
</div>
</body>
</html>